<!doctype html>
<html>

<title>Glitchlux's API</title>
  <meta name="theme-color" content="#0c193C">
  <meta property="og:title" content="Glitchlux's API">
  <meta name="description" content="A fortnite API made by Glitchlux">
  <meta property="og:description" content="A fortnite API made by Glitchlux">
 


    <meta charset="utf-8">
    <div class="header">
  <h1>Glitchlux's API</h1>
  
  
  <body>New Endpoint Battle Pass</body>
<br>
<br>
<button class="button button7" onclick="window.open('https://www.youtube.com/c/glitchlux','_blank')"></button>

<body>
    
<style>
.header {
  
  text-align: center;
  color: white;
  font-size: 30px;
}

</style>

    <style>
        body {
            color: #fff;
            font-family: Arial, sans-serif;
            background: rgb(12, 25, 44);
        }
    </style>
</head>
<style>
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #0c193C;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}


.button3 {
  background-color: white;
  color: black;
  border: 2px solid #0c193C;
}

.button3:hover {
  background-color: #cf1616;
  color: white;
}
.button4 {
  background-color: white;
  color: black;
  border: 2px solid #0c193C;
}

.button4:hover {
  background-color: #d403e7;
  color: white;
}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #0c193C;
}

.button5:hover {
  background-color: #3403e7;
  color: white;
}
.button6 {
  background-color: white;
  color: black;
  border: 2px solid #0c193C;
  width: 161.36px;
   height: 72px;
}

.button6:hover {
  background-color: #03e775;
  color: white;
  width: 161.36px;
  height: 72px;
}
.button9 {
  background-color: white;
  color: black;
  border: 2px solid #0c193C;

}

.button9:hover {
  background-color: #03e775;
  color: white;
  width: 161.36px;
  height: 72px;
}
.button7 {
  background-color: #ff0000;
  color: black;
  border: 2px solid #ff0000;
}

.button7:hover {
 content: 'subscribe';
  background-color: #ff0000;
  color: white;
}
.button7:after{
    content:'Glitchlux';
}

.button7:hover:after{

    content:'subscribe';
    
}

.button6:after{
    content:'Source Code';
    width: 161.36px;
     height: 72px;
}
.button6:hover:after{


    content:'not yet';
    width: 161.36px;
     height: 72px;
    
}

</style>
<body style="padding: 170px;">
    <div style="text-align: center; opacity: 0.7;  width: 100%; height: auto;">
        <p style="font-family:'burbank'; font-size: 80px; text-shadow: 2px 2px #000000;">
        </p>
    </div>
    <div class="item button-100" style="--bg-color:#2ecc71; text-align: center;">
        
        <button class="button button4" onclick="window.open('https://api.glitchlux1.repl.co/cloudstorage')">Cloudstorage Endpoint</button>
        <br>
        <br>
<button class="button button3" onclick="window.open('https://api.glitchlux1.repl.co/lightswitch')">Lightswitch Endpoint</button>
        <br>
        <br>
        <button class="button button1" onclick="window.open('https://api.glitchlux1.repl.co/content')">Content Endpoint</button>
        <br>
        <br>
        <button class="button button5" onclick="window.open('https://api.glitchlux1.repl.co/stw')" >STW Content Endpoint</button>
        <br>
        <br>
<button class="button button9" onclick="window.open('https://api.glitchlux1.repl.co/battlepass')" >Battle Pass Endpoint</button>
<br>
<br>
<button class="button button2" onclick="window.open('https://api.glitchlux1.repl.co/accessToken')" >Access Token For Fortnite</button>

<p><span id="datetime"></span></p>

<script>
var dateAndTime = new Date();
document.getElementById("datetime").innerHTML = dateAndTime.toLocaleString();
</script>
</body>

</html>
